form{
    width: 50%;
    margin: auto;
    display: grid;
    
}
form input,form textarea{
    margin: 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.315);
    /* border: none; */
}
form input{
    padding: 5px;
}
.all_post_div{
    
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;
}

.auteur_div{
    margin-top: 65px;
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;
}
.like_and_delete_images_div{
    display: flex;
    justify-content:space-between;
    
}
.like_and_delete_images_div img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  
}
.auteur_div img{
    width: 100px;
    height: 100px;
}
.elements{
    border: 1px solid green;
    display: grid;
    grid-template-columns: 70% 20%;
  
}
.elements section{
   border: 2px solid red ;
   margin: 10px auto;
}